@import "tailwindcss";

:root {
  --background: #0A0A0A;
  --foreground: #F8FCFB;
  --primary: #43CAB1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #F8FCFB;
    --foreground: #0A0A0A;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Tektur", sans-serif;
}

@font-face {
  font-family: "Tektur";
  src: url("/fonts/Tektur-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Tektur";
  src: url("/fonts/Tektur-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Tektur";
  src: url("/fonts/Tektur-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Tektur";
  src: url("/fonts/Tektur-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
